<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="silverhand">
  <xacro:include filename="$(find silverhand_arm_model)/urdf/silverhand_macro.urdf.xacro"/>
  <xacro:include filename="$(find silverhand_arm_control)/ros2_control/silverhand.ros2_control.xacro"/>

  <xacro:arg
    name="initial_positions_file"
    default="$(find silverhand_arm_control)/config/initial_positions.yaml"/>
  <xacro:arg name="use_mock_hardware" default="true"/>
  <xacro:arg name="can_iface" default="vcan1.0"/>
  <xacro:arg name="node_id" default="100"/>
  <xacro:arg name="queue_len" default="1000"/>

  <xacro:silverhand_arm prefix=""/>

  <xacro:silverhand_ros2_control
    name="SilverhandArmSystem"
    initial_positions_file="$(arg initial_positions_file)"
    use_mock_hardware="$(arg use_mock_hardware)"
    can_iface="$(arg can_iface)"
    node_id="$(arg node_id)"
    queue_len="$(arg queue_len)"/>
</robot>
